{
  "extends": "eslint-config-airbnb-base",
  "rules": {
    "strict": "off",
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off"
  },
  "globals": {
    "describe": true,
    "it": true,
    "after": true,
    "before": true,
    "afterEach": true,
    "beforeEach": true
  }
}
